.mapWedding {
  width: 100%;   // thay vì 90%
  margin: 0 auto;
  &__header {
    font-size: 30px;
    color: #6e1f3e;
    text-align: center;
  }

  iframe {
    display: block;   // tránh inline gây khoảng trống
    width: 100%;
    max-width: 100%;
    border: none;
  }
}
