@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand:wght@400..700&display=swap');

// Global styles
body {
  background-color: $light-bg;
  color: $dark-text;
  transition: all 0.3s ease-in-out;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  p {
    margin: 0;
  }
}

body.dark {
  background-color: $dark-bg;
  color: $light-text;
}
.layoutContainer {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 100%;
}